<%- include('./partials/header') %>
<%- include('./partials/secondary-nav') %>
<%- include('./partials/client-header') %>

<div class="portfolio-content">
    <h1>Portfolio Overview</h1>
    <p>Your portfolio information will be displayed here.</p>
</div>

<%- include('./partials/footer') %> 