    </main>
    <footer class="main-footer">
        <div class="footer-content">
            <p>© 2025 UBS ASSET MANAGEMENT</p>
            <ul>
                <li>Legal and regulatory information</li>
                <li>Privacy notice</li>
                <li>Cookies</li>
                <li>B Corp certification notice</li>
                <li>Fraud prevention</li>
            </ul>
        </div>
    </footer>
</body>
</html> 