<div class="client-banker-line">
    <div class="client-name-header" id="selected-client-name-header"></div>
    <div class="banker-info">
        <span class="banker-label">Private Banker:</span>
        <span class="banker-name" id="private-banker-name">Alexander Dubois</span>
    </div>
</div> 